frontend/lk-n8n-workflow.json
{
  "name": "My workflow 7",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "avatar",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "3495df5f-20dd-4bf2-86d5-30f6cc86dc2d",
      "name": "Webhook",
      "webhookId": "4062b7c1-79b2-4359-a1f0-34ed3d52e8e4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "37707c29-c3a5-4dc0-b85d-bc08bc31a1ed",
              "name": "transcript",
              "value": "={{ $json.body.transcript }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "b48071fb-972f-4a64-a3d9-65a8b770bea1",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "let transcript = $json.transcript;\n\ntranscript = JSON.parse(transcript);\n\nreturn {\n  json: {\n    messages: transcript.map(t => t.message)\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "1cf354f5-83ae-432e-b1dd-ae6579ef9731",
      "name": "Code"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        592,
        192
      ],
      "id": "6257e0b5-1fee-4aa6-a43b-ff1adb75eeb4",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "bR1AzGxsphQf5NQE",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Schedule an appointment based on the conversation summary, do it in my google calendar.\n\nMake the title of the appointment: Appointment with [whatever the user's name is]\n\n Transcript {{ $json.messages }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        624,
        -16
      ],
      "id": "66711835-ed0a-488f-89f5-63d948ceb103",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "james@akapulu.com",
          "mode": "list",
          "cachedResultName": "james@akapulu.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        784,
        192
      ],
      "id": "8b4357cc-dcde-49ba-a96c-392f37d5b825",
      "name": "Create an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "RLmQzzi19ss3Y7Vw",
          "name": "Google Calendar account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Create an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "fefcec50-0aed-4943-b523-3d79c069868f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fd1d76bb2990db01d7a028a2076cb41d3d5dcdc994e3ba485b1259b538d0425e"
  },
  "id": "WZ48NPELpH17JQQM",
  "tags": []
}